.DS_Store

.dockerignore
.env
.env.*
.git
.gitignore

Dockerfile
Dockerfile.*
docker-compose.yml

log/*
tmp/*

!log/.keep
!tmp/.keep

.air.conf

.github
.vscode

README.md

.golangci.yml

support/golangcilint/errcheck_safelist.txt
support/build_and_push_base_image.rb
